<!DOCTYPE html>
<html  th:lang="${#locale.language}"  xmlns:th="http://www.thymeleaf.org" >

<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="description" content="OnurGurkan">

    <meta name="author" content="Onur Gurkan">

    <title>Onur Gürkan</title>

    <!-- Mobile Specific Meta
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/img/favicon.png}" />

    <!-- CSS
    ================================================== -->
    <!-- Fontawesome Icon font -->
    <link rel="stylesheet" th:href="@{/css/font-awesome.min.css}">
    <!-- bootstrap.min css -->
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <!-- Animate.css -->
    <link rel="stylesheet" th:href="@{/css/animate.css}">
    <!-- Owl Carousel -->
    <link rel="stylesheet" th:href="@{/css/owl.carousel.css}">
    <!-- Grid Component css -->
    <link rel="stylesheet" th:href="@{/css/component.css}">
    <!-- Slit Slider css -->
    <link rel="stylesheet" th:href="@{/css/slit-slider.css}">
    <!-- Main Stylesheet -->
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <!-- Media Queries -->
    <link rel="stylesheet" th:href="@{/css/media-queries.css}">

    <!--
    Google Font
    =========================== -->

    <!-- Oswald / Title Font -->
    <link href='http://fonts.googleapis.com/css?family=Oswald:400,300' rel='stylesheet' type='text/css'>
    <!-- Ubuntu / Body Font -->
    <link href='http://fonts.googleapis.com/css?family=Ubuntu:400,300' rel='stylesheet' type='text/css'>

    <!-- Modernizer Script for old Browsers -->
    <script th:src="@{/js/modernizr-2.6.2.min.js}"></script>

    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-54152927-1', 'auto');
        ga('send', 'pageview');

    </script>

</head>

<body id="body">
<!--
Start Preloader
==================================== -->
<div id="loading-mask">
    <div class="loading-img">
        <img alt="Preloader" th:src="@{/img/preloader.gif}"  />
    </div>
</div>
<!--
End Preloader
==================================== -->

<!--
Welcome Slider
==================================== -->
<section id="home">

    <div id="slitSlider" class="sl-slider-wrapper">
        <div class="sl-slider">

            <div class="sl-slide" data-orientation="horizontal" data-slice1-rotation="-25" data-slice2-rotation="-25" data-slice1-scale="2" data-slice2-scale="2">
                <div class="sl-slide-inner">
                    <div class="bg-img bg-img-1"></div>
                    <div class="carousel-caption">
                        <div>
                            <img class="wow fadeInUp" th:src="@{/img/profile.jpg}" alt="OnurGurkan profil"><br/>
                            <img class="wow fadeInUp" th:src="@{/img/onurgurkan.png}" alt="OnurGurkan">
                            <h2 data-wow-duration="500ms" data-wow-delay="500ms" class="heading animated fadeInRight">Bilgisayar Mühendisi</h2>
                            <h4 data-wow-duration="500ms"  data-wow-delay="500ms" class="heading animated fadeInRight">
                                Merhaba Hoş Geldiniz... Ben Onur Gürkan. Selçuk Üniversitesi Teknoloji Fakültesi Bilgisayar Mühendisliği Bölümü'nü 2019 yılında tamamladım.<br/>
                                Üniversite döneminde bir web projesi gerçekleştirdim. Staj sırasında yazılım, donanım, sistem ve ağ üzerine kendimi geliştirdim. 2020-2021
                                yılları arasında askerliğimi Yd.Subay olarak tamamladım. <br/> Şu an kendimi Java Spring üzerine geliştirmekteyim. Uyumlu, sorumluluk sahibi, görevini
                                en iyi şekilde yerine getirmeyi kendine benimsemiş biriyim.
                            </h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
<!--/#home section-->

<!--
Fixed Navigation
==================================== -->
<header id="navigation" class="navbar navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <!-- responsive nav button -->
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Gezinme Aç/Kapa</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <!-- /responsive nav button -->

            <!-- logo -->
            <a class="navbar-brand" href="/">
                <h1 id="logo">
                    <img th:src="@{/img/onurgurkan-logo.png}" alt="OnurGurkan" />
                </h1>
            </a>
            <!-- /logo -->
        </div>

        <!-- main nav -->
        <nav class="collapse navbar-collapse navbar-right" role="Navigation">
            <ul id="nav" class="nav navbar-nav">
                <li class="current"><a href="#body">Ana Sayfa</a></li>
                <li><a href="#about">Hakkımda</a></li>
                <li><a href="#we-learned">Neler Öğrendik</a></li>
                <li><a href="#skills">Yetenekler</a></li>
                <li><a href="#contact">İletişim</a></li>
            </ul>
        </nav>
        <!-- /main nav -->


    </div>
</header>
<!--
End Fixed Navigation
==================================== -->

<!--
Start About Section
==================================== -->
<section id="about" class="bg-one">
    <div class="container">
        <div class="row">

            <!-- section title -->
            <div class="title text-center wow fadeIn" data-wow-duration="1500ms" >
                <h2>HAKKIMDA<span class="color"></span></h2>
                <div class="border"></div>
            </div>
            <!-- /section title -->

            <!-- About item -->
            <div class="col-md-4 text-center wow fadeInUp" data-wow-duration="500ms" >
                <div class="wrap-about">
                    <div class="">
                        <i class="fa fa-book fa-4x"></i>
                    </div>
                    <!-- Express About Yourself -->
                    <div class="about-content text-center">
                        <h3 class="ddd">Eğitim</h3><br/>
                        <p>Selçuk Üniversitesi - Teknoloji Fakültesi Bilgisayar Mühendisliği</p><br/>
                        <p>Bilal Güngör Anadolu Öğretmen Lisesi</p>
                    </div>
                </div>
            </div>
            <!-- End About item -->

            <!-- About item -->
            <div class="col-md-4 text-center wow fadeInUp" data-wow-duration="500ms" data-wow-delay="250ms">
                <div class="wrap-about">
                    <div class="">
                        <i class="fa fa-database fa-4x"></i>
                    </div>
                    <!-- Express About Yourself -->
                    <div class="about-content text-center">
                        <h3>Deneyim</h3><br/>
                        <p>Konsis Bilişim Hizmetleri - Stajyer(Şubat-Mayıs 2019)<br/>      -Donanım, sistem ve ağ üzerine tamamladım.</p><br/>
                        <p>Konsis Bilişim Hizmetleri - Stajyer(Haziran-Ağustos 2019)<br/>      -Web programlama, donanım ve ağ üzerine tamamladım.</p>
                    </div>
                </div>
            </div>
            <!-- End About item -->

            <!-- About item -->
            <div class="col-md-4 text-center wow fadeInUp" data-wow-duration="500ms" data-wow-delay="500ms">
                <div class="wrap-about kill-margin-bottom">
                    <div class="">
                        <i class="fa fa-user fa-4x"></i>
                    </div>
                    <!-- Express About Yourself -->
                    <div class="about-content text-center">
                        <h3>Kişisel Bilgiler</h3><br/>
                        <p>Doğum Tarihi : 28.02.1995<br/>Medeni Durum : Bekar<br/>Askerlik Durumu : Tamamlandı<br/>Sürücü Belgesi : B Sınıfı<br/>İngilizce : Orta</p>
                    </div>
                </div>
            </div>
            <!-- End About item -->

        </div> 		<!-- End row -->
    </div>   	<!-- End container -->
</section>   <!-- End section -->

<!--
Start Counter Section
==================================== -->

<section id="counter" class="parallax-section">
    <div class="container">
        <div class="row">

            <!-- first count item -->
            <div class="col-md-3 col-sm-6 col-xs-12 text-center wow fadeInDown" data-wow-duration="500ms">
                <div class="counters-item"><br/>
                    <i class="fa fa-search fa-3x"></i>
                    <h3>Öğrenmeye Açık</h3>
                </div>
            </div>
            <!-- end first count item -->

            <!-- second count item -->
            <div class="col-md-3 col-sm-6 col-xs-12 text-center wow fadeInDown" data-wow-duration="500ms" data-wow-delay="200ms">
                <div class="counters-item"><br/>
                    <i class="fa fa-check-square fa-3x"></i>
                    <h3>Kendini Geliştiren</h3>
                </div>
            </div>
            <!-- end second count item -->

            <!-- third count item -->
            <div class="col-md-3 col-sm-6 col-xs-12 text-center wow fadeInDown" data-wow-duration="500ms" data-wow-delay="400ms">
                <div class="counters-item"><br/>
                    <i class="fa fa-thumbs-up fa-3x"></i>
                    <h3>Sorumluluk Sahibi</h3>

                </div>
            </div>
            <!-- end third count item -->

            <!-- fourth count item -->
            <div class="col-md-3 col-sm-6 col-xs-12 text-center wow fadeInDown" data-wow-duration="500ms" data-wow-delay="600ms">
                <div class="counters-item kill-margin-bottom"><br/>
                    <i class="fa fa-users fa-3x"></i>
                    <h3>Uyumlu</h3>
                </div>
            </div>
            <!-- end fourth count item -->

        </div> 		<!-- end row -->
    </div>   	<!-- end container -->
</section>   <!-- end section -->


<!-- Start Services Section
==================================== -->

<section id="we-learned" class="bg-one">
    <div class="container">
        <div class="row">

            <!-- section title -->
            <div class="title text-center wow fadeIn" data-wow-duration="500ms"><br/><br/><br/>
                <h2>NELER <span class="color">ÖĞRENDİK</span></h2>
                <div class="border"></div>
            </div>
            <!-- /section title -->

            <!-- Single Service Item -->
            <article class="col-md-3 col-sm-6 col-xs-12 wow fadeInUp" data-wow-duration="500ms">
                <div class="service-block text-center">
                    <div class="service-icon text-center">
                        <i class="fa fa-coffee fa-3x"></i>
                    </div>
                    <h3>JAVA SE</h3>
                </div>
            </article>
            <!-- End Single Service Item -->

            <!-- Single Service Item -->
            <article class="col-md-3 col-sm-6 col-xs-12 wow fadeInUp" data-wow-duration="500ms" data-wow-delay="200ms">
                <div class="service-block text-center">
                    <div class="service-icon text-center">
                        <i class="fa fa-power-off fa-3x"></i>
                    </div>
                    <h3>SPRING BOOT</h3>
                </div>
            </article>
            <!-- End Single Service Item -->

            <!-- Single Service Item -->
            <article class="col-md-3 col-sm-6 col-xs-12 wow fadeInUp" data-wow-duration="500ms" data-wow-delay="400ms">
                <div class="service-block text-center">
                    <div class="service-icon text-center">
                        <i class="fa fa-recycle fa-3x"></i>
                    </div>
                    <h3>SPRING MVC</h3>
                </div>
            </article>
            <!-- End Single Service Item -->

            <!-- Single Service Item -->
            <article class="col-md-3 col-sm-6 col-xs-12 wow fadeInDown" data-wow-duration="500ms" data-wow-delay="200ms">
                <div class="service-block text-center">
                    <div class="service-icon text-center">
                        <i class="fa fa-database fa-3x"></i>
                    </div>
                    <h3>SPRING DATA</h3>
                </div>
            </article>
            <!-- End Single Service Item -->

            <!-- Single Service Item -->
            <article class="col-md-3 col-sm-6 col-xs-12 wow fadeInDown" data-wow-duration="500ms" data-wow-delay="400ms">
                <div class="service-block text-center">
                    <div class="service-icon text-center">
                        <i class="fa fa-cogs fa-3x"></i>
                    </div>
                    <h3>SPRING REST</h3>
                </div>
            </article>
            <!-- End Single Service Item -->

            <!-- Single Service Item -->
            <article class="col-md-3 col-sm-6 col-xs-12 wow fadeInDown" data-wow-duration="500ms" data-wow-delay="600ms">
                <div class="service-block text-center kill-margin-bottom">
                    <div class="service-icon text-center">
                        <i class="fa fa-shield fa-3x"></i>
                    </div>
                    <h3>SPRING SECURITY</h3>
                </div>
            </article>
            <!-- End Single Service Item -->

            <!-- Single Service Item -->
            <article class="col-md-3 col-sm-6 col-xs-12 wow fadeInDown" data-wow-duration="500ms" data-wow-delay="600ms">
                <div class="service-block text-center kill-margin-bottom">
                    <div class="service-icon text-center">
                        <i class="fa fa-gear fa-3x"></i>
                    </div>
                    <h3>OPEN API</h3>
                </div>
            </article>
            <!-- End Single Service Item -->

            <!-- Single Service Item -->
            <article class="col-md-3 col-sm-6 col-xs-12 wow fadeInDown" data-wow-duration="500ms" data-wow-delay="600ms">
                <div class="service-block text-center kill-margin-bottom">
                    <div class="service-icon text-center">
                        <i class="fa fa-code-fork fa-3x"></i>
                    </div>
                    <h3>GIT</h3>
                </div>
            </article>
            <!-- End Single Service Item -->

        </div> 		<!-- End row -->
    </div>   	<!-- End container -->
</section>   <!-- End section -->

<!-- Start Team Skills
=========================================== -->

<section id="skills" class="parallax-section">
    <div class="container">
        <div class="row wow fadeInDown" data-wow-duration="500ms"><br/><br/><br/>

            <!-- section title -->
            <div class="title text-center">
                <h2><span class="color">YETENEKLER</span></h2>
                <div class="border"></div>
            </div>
            <!-- /section title -->

            <!-- skill set -->
            <div class="col-md-3 col-sm-6 col-xs-12 wow fadeInUp" data-wow-duration="500ms">
                <div class="skill-chart text-center">
							<span class="chart" data-percent="80">
								<span class="percent"></span>
							</span>
                    <h3><i class="fa fa-coffee"></i> Java</h3>
                </div>
            </div>
            <!-- end skill set -->

            <!-- skill set -->
            <div class="col-md-3 col-sm-6 col-xs-12 wow fadeInUp" data-wow-duration="500ms" data-wow-delay="600ms">
                <div class="skill-chart text-center">
							<span class="chart" data-percent="75">
								<span class="percent"></span>
							</span>
                    <h3><i class="fa fa-leaf"></i> Spring</h3>
                </div>
            </div>
            <!-- end skill set -->

            <!-- skill set -->
            <div class="col-md-3 col-sm-6 col-xs-12 wow fadeInUp" data-wow-duration="500ms" data-wow-delay="200ms">
                <div class="skill-chart text-center">
							<span class="chart" data-percent="70">
								<span class="percent">86</span>
							</span>
                    <h3><i class="fa fa-html5"></i> HTML 5</h3>
                </div>
            </div>
            <!-- end skill set -->

            <!-- skill set -->
            <div class="col-md-3 col-sm-6 col-xs-12 wow fadeInUp" data-wow-duration="500ms" data-wow-delay="400ms">
                <div class="skill-chart text-center">
							<span class="chart" data-percent="65">
								<span class="percent"></span>
							</span>
                    <h3><i class="fa fa-css3"></i> CSS</h3>
                </div>
            </div>
            <!-- end skill set -->

            <!-- skill set -->
            <div class="col-md-3 col-sm-6 col-xs-12 wow fadeInUp" data-wow-duration="500ms" data-wow-delay="600ms">
                <div class="skill-chart text-center">
							<span class="chart" data-percent="70">
								<span class="percent"></span>
							</span>
                    <h3><i class="fa fa-file-code-o"></i> SQL</h3>
                </div>
            </div>
            <!-- end skill set -->

            <!-- skill set -->
            <div class="col-md-3 col-sm-6 col-xs-12 wow fadeInUp" data-wow-duration="500ms" data-wow-delay="600ms">
                <div class="skill-chart text-center">
							<span class="chart" data-percent="80">
								<span class="percent"></span>
							</span>
                    <h3><i class="fa fa-database"></i> MSSQL / MYSQL</h3>
                </div>
            </div>
            <!-- end skill set -->


            <!-- skill set -->
            <div class="col-md-3 col-sm-6 col-xs-12 wow fadeInUp" data-wow-duration="500ms" data-wow-delay="600ms">
                <div class="skill-chart text-center">
							<span class="chart" data-percent="60">
								<span class="percent"></span>
							</span>
                    <h3><i class="fa fa-code"></i> PHP</h3>
                </div>
            </div>
            <!-- end skill set -->

            <!-- skill set -->
            <div class="col-md-3 col-sm-6 col-xs-12 wow fadeInUp" data-wow-duration="500ms" data-wow-delay="600ms">
                <div class="skill-chart text-center">
							<span class="chart" data-percent="75">
								<span class="percent"></span>
							</span>
                    <h3><i class="fa fa-database"></i> Windows Server</h3>
                </div>
            </div>
            <!-- end skill set -->

        </div>  		<!-- End row -->
    </div>   	<!-- End container -->
</section>   <!-- End section -->

<section class="bg-one">
    <div class="container">
        <br/><br/><br/><br/><br/>
    </div>
</section>

<!-- Srart Contact Us
=========================================== -->
<section id="contact">
    <div class="container">
        <div class="row">

            <!-- section title -->
            <div class="title text-center wow fadeIn" data-wow-duration="500ms"><br/><br/><br/>
                <h2><span class="color">İLETİŞİME</span> GEÇİN</h2>
                <div class="border"></div>
            </div>
            <!-- /section title -->

            <!-- Contact Details -->
            <div class="contact-info col-md-6 wow fadeInUp" data-wow-duration="500ms">
                <h3>İletişim Bilgileri</h3>
                <p>Aşağıda yer alan iletişim bilgilerini kullanarak ya da yandaki formu doldurarak iletişime geçebilirsiniz. </p>
                <div class="contact-details">
                    <div class="con-info clearfix">
                        <i class="fa fa-home fa-lg"></i>
                        <span>Adres : Ankara, TÜRKİYE</span>
                    </div>

                    <div class="con-info clearfix">
                        <i class="fa fa-phone fa-lg"></i>
                        <span>Telefon: +90 541 217 88 85</span>
                    </div>

                    <div class="con-info clearfix">
                        <i class="fa fa-envelope fa-lg"></i>
                        <span>E-Posta: onurgurkaann@gmail.com</span>
                    </div>
                </div>
            </div>
            <!-- / End Contact Details -->

            <!-- Contact Form -->
            <div class="contact-form col-md-6 wow fadeInUp" data-wow-duration="500ms" data-wow-delay="300ms">
                <form id="contact-form" method="post" action="" role="form">

                    <div class="form-group">
                        <input type="text" placeholder="Ad ve Soyad" class="form-control" name="name" id="name">
                    </div>

                    <div class="form-group">
                        <input type="email" placeholder="E-Posta Adresi" class="form-control" name="email" id="email">
                    </div>

                    <div class="form-group">
                        <input type="text" placeholder="Konu" class="form-control" name="subject" id="subject">
                    </div>

                    <div class="form-group">
                        <textarea rows="6" placeholder="Mesaj" class="form-control" name="message" id="message"></textarea>
                    </div>

                    <div id="cf-submit">
                        <input type="submit" id="submit" class="btn btn-transparent" value="Gönder">
                    </div>

                </form>
            </div>
            <!-- ./End Contact Form -->

        </div> <!-- end row -->
    </div> <!-- end container -->

</section> <!-- end section -->

<!-- end Contact Area
========================================== -->

<footer id="footer" class="bg-one">
    <div class="container">
        <div class="row wow fadeInUp" data-wow-duration="500ms">
            <div class="col-lg-12">

                <!-- Footer Social Links -->
                <div class="social-icon">
                    <ul>
                        <li><a href="https://www.instagram.com/onurgurkann_/" target="_blank"><i class="fa fa-instagram"></i></a></li>
                        <li><a href="https://twitter.com/onurgurkann_" target="_blank"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="https://www.linkedin.com/in/onurgurkann/" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="https://github.com/onurgurkann" target="_blank"><i class="fa fa-github"></i></a></li>
                    </ul>
                </div>
                <!--/. End Footer Social Links -->

                <!-- copyright -->
                <div class="copyright text-center">
                    <a href="/">
                        <img th:src="@{/img/onurgurkan-logo.png}" alt="OnurGurkan" />
                    </a>
                    <br />

                    <p><small>2022 Onur Gürkan. Tüm Hakları Saklıdır.</small></p>
                </div>
                <!-- /copyright -->

            </div> <!-- end col lg 12 -->
        </div> <!-- end row -->
    </div> <!-- end container -->
</footer> <!-- end footer -->

<!-- Back to Top
============================== -->
<a href="javascript:;" id="scrollUp">
    <i class="fa fa-angle-up fa-2x"></i>
</a>

<!-- end Footer Area
========================================== -->

<!--
Essential Scripts
=====================================-->

<!-- Main jQuery -->
<script th:src="@{/js/jquery-1.11.0.min.js}"></script>
<!-- Bootstrap 3.1 -->
<script th:src="@{/js/bootstrap.min.js}"></script>
<!-- Slitslider -->
<script th:src="@{/js/jquery.slitslider.js}"></script>
<script th:src="@{/js/jquery.ba-cond.min.js}"></script>
<!-- Parallax -->
<script th:src="@{/js/jquery.parallax-1.1.3.js}"></script>
<!-- Owl Carousel -->
<script th:src="@{/js/owl.carousel.min.js}"></script>
<!-- Portfolio Filtering -->
<script th:src="@{/js/jquery.mixitup.min.js}"></script>
<!-- Custom Scrollbar -->
<script th:src="@{/js/jquery.nicescroll.min.js}"></script>
<!-- Jappear js -->
<script th:src="@{/js/jquery.appear.js}"></script>
<!-- Pie Chart -->
<script th:src="@{/js/easyPieChart.js}"></script>
<!-- jQuery Easing -->
<script th:src="@{/js/jquery.easing-1.3.pack.js}"></script>
<!-- tweetie.min -->
<script th:src="@{/js/tweetie.min.js}"></script>
<!-- Google Map API -->
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=&callback=initMap"></script>
<!-- Highlight menu item -->
<script th:src="@{/js/jquery.nav.js}"></script>
<!-- Sticky Nav -->
<script th:src="@{/js/jquery.sticky.js}"></script>
<!-- Number Counter Script -->
<script th:src="@{/js/jquery.countTo.js}"></script>
<!-- wow.min Script -->
<script th:src="@{/js/wow.min.js}"></script>
<!-- For video responsive -->
<script th:src="@{/js/jquery.fitvids.js}"></script>
<!-- Grid js -->
<script th:src="@{/js/grid.js}"></script>
<!-- Custom js -->
<script th:src="@{/js/custom.js}"></script>

</body>
</html>